<head>
 <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  {%- seo -%}
  <link rel="shortcut icon" type="image/png" href="{{ "/assets/logo.png" | relative_url }}">
  <link rel="stylesheet" href="{{ "/assets/main.css" | relative_url }}">
  <link rel="stylesheet" href="{{ "/assets/theme.css" | relative_url }}">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.css">
  {%- feed_meta -%}
  <script src="{{ "/assets/javascript/bootstrap/jquery.min.js" | relative_url }}"></script>
  <script src="{{ "/assets/javascript/bootstrap/bootstrap.bundle.min.js" | relative_url }}"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/ekko-lightbox/5.3.0/ekko-lightbox.min.js"></script>
<!--  {% if site.google_analytics %} -->
<!--  {% include analytics.html %} -->
<!-- {% endif %} -->


    <!-- CSS -->
  <link rel="image_src" href="{{ "/assets/logo.png" | relative_url }}"/>
  <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,800italic,800,700italic,700,600italic,600,400italic' rel='stylesheet' type='text/css'><? /* google font */ ?>
  <link rel="stylesheet" href="{{ "/assets/style.css" | relative_url }}">
  <link rel="stylesheet" href="{{ "/assets/css/scroll.css" | relative_url }}">
  <link rel="stylesheet" href="{{ "/assets/css/gallery.css" | relative_url }}">

  <!-- SCRIPTS -->
  <script src='https://www.google.com/recaptcha/api.js'></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script> <? /* Jquery from google */ ?>
  <script type="text/javascript" src="{{ "/assets/js/mousewh2.js" | relative_url }}"></script>
  <script type="text/javascript" src="{{ "/assets/js/scroll.js" | relative_url }}"></script>
  <script src="{{ "/assets/js/isotope.pkgd.min.js" | relative_url }}"></script>
  <script src="{{ "/assets/js/pushmenu.js" | relative_url }}"></script>
  <script>
	   new WOW().init();
  </script>
</head>
