<!-- Navigation -->
    <nav id="menu" class="navbar navbar-default navbar-fixed-top">
        <div class="container"> 
          <!-- Brand and toggle get grouped for better mobile display -->
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"> <span class="sr-only">Toggle navigation</span> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button>
            <a class="navbar-brand page-scroll" href="#page-top">Paysages Alternatifs</a> </div>
          
          <!-- Collect the nav links, forms, and other content for toggling -->
          <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
              <li><a href="#about" class="page-scroll">A propos</a></li>
              <li><a href="#services" class="page-scroll">Services</a></li>
              <li><a href="#portfolio" class="page-scroll">Réalisations</a></li>
              <li><a href="#testimonials" class="page-scroll">Avis</a></li>
              <li><a href="#contact" class="page-scroll">Contact</a></li>
            </ul>
          </div>
          <!-- /.navbar-collapse --> 
        </div>
        <!-- /.container-fluid --> 
      </nav>
      <!-- Header -->
      <header id="header">
        <div class="intro" style="{{site.baseurl}}{{page.heroheader.banniere}} top center no-repeat">
          <div class="overlay">
            <div class="container">
              <div class="row">
                <div class="col-md-8 col-md-offset-2 intro-text">
                  <h1>{{page.heroheader.titre}}</h1>
                  <p>{{page.heroheader.soustitre}}</p>
                  <a href="#about" class="btn btn-custom btn-lg page-scroll">Plus d'info</a> </div>
              </div>
            </div>
          </div>
        </div>
      </header>