<head>
 <meta charset="utf-8">
 <meta name="viewport" content="width=device-width, initial-scale=1">
 {%- seo -%}
 <title>Paysages Alternatifs</title>
 <meta name="description" content="">
 <meta name="author" content="">
 {%- feed_meta -%}
<!-- Favicons -->
 <link rel="shortcut icon" href="{{ "/assets/img/favicon.ico" | relative_url }}" type="image/x-icon">
 <link rel="apple-touch-icon" href="{{ "/assets/img/apple-touch-icon.png" | relative_url }}">

<!-- Bootstrap -->
<link rel="stylesheet" type="text/css"  href="{{ "/assets/css/bootstrap.css" | relative_url }}">
<link rel="stylesheet" type="text/css" href="{{ "/assets/fonts/font-awesome/css/font-awesome.css" | relative_url }}">

<!-- Slider -->
    <link href="{{ "/assets/css/owl.carousel.css" | relative_url }}" rel="stylesheet" media="screen">
    <link href="{{ "/assets/css/owl.theme.css" | relative_url }}" rel="stylesheet" media="screen">

<!-- Stylesheet -->
    <link rel="stylesheet" type="text/css" href="{{ "/assets/css/style.css" | relative_url }}">
    <link rel="stylesheet" type="text/css" href="{{ "/assets/css/nivo-lightbox/nivo-lightbox.css" | relative_url }}">
    <link rel="stylesheet" type="text/css" href="{{ "/assets/css/nivo-lightbox/default.css" | relative_url }}">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet">    

<!--  {% if site.google_analytics %} -->
<!--  {% include analytics.html %} -->
<!-- {% endif %} -->


</head>
