/* Custom theme pour FrenchyFPS */

body {
    background-color:#FFFFFF;
    color: #767676;
    height:100vh;
    font-family: montserrat;
    font-weight: 200;
    font-size: 1.15rem;
}

.navbar {
    background: linear-gradient(0.25turn, rgb(58, 108, 183), #00c4ff) !important;
}

.navbar a {
    color: #FFF !important;
}

.sitebanner h1 {
    color: #FFF !important;
    font-weight: bold;
}
.sitebanner h2 {
    color: #FFF !important;
    font-weight: bold;
}

table, th, td {
    border: 1px solid;   
}

th, td {
    padding: 0.25em;
}

pre {
    background: linear-gradient(to bottom,#fff 0,#fff .75rem,#f5f7fa .75rem,#f5f7fa 2.75rem,#fff 2.75rem,#fff 4rem);
    line-height: 2rem;
    background-size: 100% 4rem;
    padding: .66001rem 9.5px 9.5px;
}

h1 {
    font-weight:bold;
    color: #3a6cb7;
    margin-bottom: 0.8em;
}

strong {
    font-weight: bold;
    color: #006488;
}
a {
    color: #3a6cb7;
    text-decoration: none !important;
}

.featured-section h1:after {
    content:"";
    position: absolute;
    display:block;
    width: 50px;
    border: 4px solid #3a6cb7;
}

.sitebanner {
    background-size: cover;
    background-position-y: center;
}

.page-footer {
    background-color:#202125;
    color: #FFFFFF;
}

.card-footer {
    background: linear-gradient(0.25turn, rgb(58, 108, 183), #00c4ff);
}

.featured-colored-section {
    background: linear-gradient(0.25turn, rgb(58, 108, 183), #00c4ff) !important;
}

.featured-colored-section h1 {
    color: #FFFFFF;
}

.featured-colored-section h1:after {
    content:"";
    position: absolute;
    display:block;
    width: 50px;
    border: 4px solid #FFFFFF;
}

.featured-colored-section p {
    color: #FFFFFF;
    font-size:1.15rem;
}

.featured-section p {
    font-size:1.15rem;
}

.page-footer {
    background: linear-gradient(0.25turn, rgb(58, 108, 183), #00c4ff) !important;
}

.page-footer a {
    color: #FFFFFF !important;
    text-decoration: none;
}

