---
layout: default
---

	
	
		<div class="entry-page-image fixed" style="background-image:url('{{ site.baseurl }}{{ page.heroheader.banniere }}')";>	
			<div class="title-box">
			<h1 class="site-title">{{page.heroheader.titre}}</h1>
			<h2 class="site-description">{{page.heroheader.soustitre}}</h2>
			</div>
		</div><!-- .entry-page-image -->	
	
	<!-- menu -->
	<a href="#introduction"><div style="
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#000000+0,000000+100&0.01+0,0.8+100 */
	background: -moz-linear-gradient(top,  rgba(0,0,0,0.01) 0%, rgba(0,0,0,0.8) 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top,  rgba(0,0,0,0.01) 0%,rgba(0,0,0,0.8) 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom,  rgba(0,0,0,0.01) 0%,rgba(0,0,0,0.8) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#03000000', endColorstr='#cc000000',GradientType=0 ); /* IE6-9 */
	position: absolute;
		bottom: 0;
		height: 130px;
		width: 100%;
	
	">
	<div style="bottom: 40px; width: 100%; text-align:center; font-size:17px; font-weight:400;height: 50px; position: absolute;left: 0; right: 0; margin: auto; color:#FFFFFF;   text-shadow: #000000 0.1em 0.1em 0.2em;">Cliquez ou scrollez</div>
	<div style="bottom: 20px; width: 100%; text-align:center; font-size:17px; font-weight:400;height: 50px; position: absolute;left: 0; right: 0; margin: auto; color:#FFFFFF;  text-shadow:  #000000 0.1em 0.1em 0.2em;
		-webkit-animation: scrolldown 1.5s;  /* Chrome, Safari, Opera */
		-webkit-animation-iteration-count: infinite;  /* Chrome, Safari, Opera */
		animation: scrolldown 1.5s;
		animation-iteration-count: infinite;
		
		">&#8595;</div></div></a>
	
	
			
			
					
	
	<!-- page -->
	<div id ="page" style="float:left;width:100%;background-color:#ffffff;">
	<div id="introduction"></div>
		
	<!-- Conteneur central1 -->
	<div style="float:left;width:100%; background: #F8F8F8;">
		<div class="full-width wow fadeInUp" data-wow-offset="50">
			<div style="line-height: 1.714285714;text-align: justify; text-align:center;">
				{{page.intro | markdownify}}</div>
			<div style="clear: both"></div>
		</div>
	
	<div class="full-width" style="background-image: url('{{site.baseurl}}/uploads/mokup.png');
		background-size: contain;
		background-repeat: no-repeat;
		height:0;
		  padding-top: 20.51%;background-position:center;">
	</div>
		
	<div class="full-width wow fadeInUp" data-wow-delay="0.5s">
			<div class="third-width">
				<h2>{{page.services.service1.titre}}</h2>
				<img class="services" src="{{site.baseurl}}{{page.services.service1.image}}">
				<p>{{page.services.service1.description}}</p>
			</div>
			<div class="third-width">
				<h2>{{page.services.service2.titre}}</h2>
				<img class="services" src="{{site.baseurl}}{{page.services.service2.image}}">
				<p>{{page.services.service2.description}}</p>
			</div>		
			<div class="third-width last">
				<h2>{{page.services.service3.titre}}</h2>
				<img class="services" src="{{site.baseurl}}{{page.services.service3.image}}">
				<p>{{page.services.service3.description}}</p>
			</div>
		
		<div style="clear: both;" />
	</div>
	</div>
	
	
	</div>
	<!-- Fin Conteneur central1 -->
	
	<!-- separator -->
	<div style="float:left; width:100%; background-image: url('{{ '/assets/about-banner.jpg' | relative_url }}'); background-repeat: no-repeat; 
	background-size: cover; background-attachment: fixed;">
		<div style="max-width:950px;margin:50px auto 50px auto;float:none;color:#FFFFFF;text-align:center;">
			<div style="margin-bottom:20px;">
				<span style="font-size:20px;">Vous avez besoin d'un </span>
				<span id="slogan" class="slogan">
				<b id="slogan0" class="is-visible"> webdevelopper?</b>
				<b id ="slogan1" class="is-hidden"> designer?</b>
				<b id = "slogan2" class="is-hidden"> chimiste?</b>
				</span>
			</div>	
			<div>
				<a href="#contact" id="contact-button" class="button">CONTACTEZ MOI</a>
			</div>
			<div style="clear: both;" />
		</div>
		</div>
	
	
	<script>
					
						var i=0;
						setInterval(function () {
							i = i+1;
								if (i==1) {
								document.getElementById("slogan0").className = "is-visible";
								document.getElementById("slogan1").className = "is-hidden";
								document.getElementById("slogan2").className = "is-hidden";	
								}
								
								else if (i==2) {
								document.getElementById("slogan0").className = "is-hidden";
								document.getElementById("slogan1").className = "is-visible";
								document.getElementById("slogan2").className = "is-hidden";	
								}
								
								else if (i==3) {
								document.getElementById("slogan0").className = "is-hidden";
								document.getElementById("slogan1").className = "is-hidden";
								document.getElementById("slogan2").className = "is-visible";	
								}
								else {
								i=0;	
								}
							}, 2000);	
						
	
	</script>
	
	<!-- fin separator -->
	
	
	
	
	<!-- Gallery -->
	<div style="float:left; width:100%; background: #FFFFFF;">
		<div id="portfolio" style="max-width:950px;margin:40px auto 40px auto;float:none;">
			<H1 style="color:#8B8B8C;">MY WORK<br/>•</H1>
			{%- include gallery.html -%}
		</div>
	</div>
	<!-- Fin gallery -->
	
	
	<!-- Content 2 -->
	<div style="float:left; width:100%; background-image: url('{{ '/assets/about-banner.jpg' | relative_url }}'); background-repeat: no-repeat;
	 background-size: cover; background-attachment: fixed;">
		<div id="about" class="full-width">
			<h1 style="color:#FFFFFF">{{page.aboutme.titre}}<br/>•</h1>
			
			<div style="float:left;width:100%;color:#FFFFFF;text-align:justify;">
				<div class="third-width wow bounceInUp" data-wow-delay="0s">
					{{page.aboutme.description | markdownify}}
				</div>
				
				<div class="third-width wow bounceInUp" data-wow-delay="0.12s">
					<img src="{{site.baseurl}}{{page.aboutme.image}}" style="border-radius: 500px; width:100%;">
				</div> 
				
				<div class="third-width wow bounceInUp" data-wow-delay="0.25s">
					{{page.aboutme.titrecv}}<br/><br/>
					<div class="cv"><a href="{{site.baseurl}}{{page.aboutme.liencv}}" target="_blank">Download</a></div>
				</div>
			</div>
			<div style="clear:both;"/>
		
		</div>
	</div>
	</div>
	<!-- Fin Content 2 -->
	
	<!-- Contact -->
	<div id="contact" style="float:left; width:100%; background: #cfd3d9;">
		<div id="form" class="full-width">
		<h1 style="text-align:center;color:#fff;"><i>CONTACT</i><br/>•</h1>
			<input type="text" placeholder="NOM" name="name" id="name" class="contact-input">
			<input type="text" placeholder="E-MAIL" name="email" id="email" class="contact-input">
			<textarea placeholder="MESSAGE" name="message" id="message" class="contact-textarea"></textarea>
			<input type="submit" onclick="mail()" class="button" style="width:calc(100% - 4px);float:left;margin:0 0 1% 0;"></input>
		<div style="clear: both" />
		<div class="g-recaptcha" data-sitekey="6LdSYgsUAAAAAFvRIi8Ww--5l-1hssRcYfe3eXSz"></div>
	
		<div id="test"></div>
		</div>
	</div>
	<!-- Fin contact -->
	
	
	
	
	
