---
layout: default
---
<!-- About Section -->
<div id="about">
	<div class="container">
	  <div class="row">
		<div class="col-xs-12 col-md-6">
		  <div class="about-text">
			<h2>Bienvenue chez <span>Paysage Alternatif</span></h2>
			<hr>
				{{page.apropos.description | markdownify}}
			<a href="#services" class="btn btn-custom btn-lg page-scroll">Nos services</a> </div>
		</div>
		<div class="col-xs-12 col-md-3">
		  <div class="about-media"> <img src="{{site.baseurl}}{{page.apropos.sections.section1.image}}" alt=" "> </div>
		  <div class="about-desc">
			<h3>{{page.apropos.sections.section1.titre}}</h3>
			<p>{{page.apropos.sections.section1.description}}</p>
		  </div>
		</div>
		<div class="col-xs-12 col-md-3">
		  <div class="about-media"> <img src="{{site.baseurl}}{{page.apropos.sections.section2.image}}" alt=" "> </div>
		  <div class="about-desc">
			<h3>{{page.apropos.sections.section2.titre}}</h3>
			<p>{{page.apropos.sections.section2.description}}</p>
		  </div>
		</div>
	  </div>
	</div>
  </div>
  <!-- Services Section -->
  <div id="services">
	<div class="container">
	  <div class="col-md-10 col-md-offset-1 section-title text-center">
		<h2>Nos Services</h2>
		<hr>
		<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit duis sed dapibus leonec.</p>
	  </div>
	  <div class="row">
		<!-- Loop pour les services -->
		{% for services in page.services %}
		<div class="col-md-3 text-center">
		  <div class="service-media"> <img src="{{site.baseurl}}{{services.image}}" alt=" "> </div>
		  <div class="service-desc">
			<h3>{{services.titre}}</h3>
			<p>{{services.description}}</p>
		  </div>
		</div>
		{% endfor %} 
		<!-- Fin loop services-->
	  </div>
	</div>
  </div>
  <!-- Gallery Section -->
  <div id="portfolio">
	<div class="container">
	  <div class="section-title text-center center">
		<h2>Nos rélisations</h2>
		<hr>
		<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit duis sed dapibus leonec.</p>
	  </div>
	  <div class="categories">
		<ul class="cat">
		  <li>
			<ol class="type">
			  <li><a href="#" data-filter="*" class="active">Tout</a></li>
			  <li><a href="#" data-filter=".categorie1">Categorie 1</a></li>
			  <li><a href="#" data-filter=".categorie2">Categorie 2</a></li>
			  <li><a href="#" data-filter=".categorie3">Categorie 3</a></li>
			</ol>
		  </li>
		</ul>
		<div class="clearfix"></div>
	  </div>
	  <div class="row">
		<div class="portfolio-items">

			<!-- Loop gallerie réalisations -->
			{% for gallerie in page.gallerie %}
			<div class="col-sm-6 col-md-4 {{gallerie.categorie}}">
				<div class="portfolio-item">
				<div class="hover-bg"> <a href="{{site.baseurl}}{{gallerie.image}}" title="Project Title" data-lightbox-gallery="gallery1">
					<div class="hover-text">
					<h4>{{gallerie.titre}}</h4>
					</div>
					<img data-src="{{site.baseurl}}{{gallerie.image}}" class="img-responsive" alt="Project Title"> </a> </div>
				</div>
			</div>
			{% endfor %}
			<!-- Fin Loop gallerie réalisations -->

		</div>
	  </div>
	</div>
  </div>
  <!-- Testimonials Section -->
  <div id="testimonials" class="text-center">
	<div class="overlay">
	  <div class="container">
		<div class="section-title">
		  <h2>Avis</h2>
		  <hr>
		</div>
		<div class="row">
		  <div class="col-md-10 col-md-offset-1">
			<div id="testimonial" class="owl-carousel owl-theme">
				<!-- Loop pour avis -->
				{% for avis in page.avis %}
				<div class="item">
					<p>"{{avis.description}}"</p>
					<p>- {{avis.titre}}</p>
				</div>
				{% endfor %}	
				<!-- Fin loop pour avis -->
			</div>
		  </div>
		</div>
	  </div>
	</div>
  </div>
  <!-- Contact Section -->
  <div id="contact" class="text-center">
	<div class="container">
	  <div class="section-title text-center">
		<h2>Contact Us</h2>
		<hr>
		<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit duis sed dapibus leonec.</p>
	  </div>
	  <div class="col-md-10 col-md-offset-1 contact-info">
		<div class="col-md-4">
		  <h3>Address</h3>
		  <hr>
		  <div class="contact-item">
			<p>4321 California St,</p>
			<p>San Francisco, CA 12345</p>
		  </div>
		</div>
		<div class="col-md-4">
		  <h3>Working Hours</h3>
		  <hr>
		  <div class="contact-item">
			<p>Monday-Saturday: 07:00 - 18:00</p>
			<p>Sunday: CLOSED</p>
		  </div>
		</div>
		<div class="col-md-4">
		  <h3>Contact Info</h3>
		  <hr>
		  <div class="contact-item">
			<p>Phone: +1 123 456 1234</p>
			<p>Email: info@company.com</p>
		  </div>
		</div>
	  </div>
	  <div class="col-md-8 col-md-offset-2">
		<h3>Leave us a message</h3>
		<form name="sentMessage" id="contactForm" novalidate>
		  <div class="row">
			<div class="col-md-6">
			  <div class="form-group">
				<input type="text" id="name" class="form-control" placeholder="Name" required="required">
				<p class="help-block text-danger"></p>
			  </div>
			</div>
			<div class="col-md-6">
			  <div class="form-group">
				<input type="email" id="email" class="form-control" placeholder="Email" required="required">
				<p class="help-block text-danger"></p>
			  </div>
			</div>
		  </div>
		  <div class="form-group">
			<textarea name="message" id="message" class="form-control" rows="4" placeholder="Message" required></textarea>
			<p class="help-block text-danger"></p>
		  </div>
		  <div id="success"></div>
		  <button type="submit" class="btn btn-custom btn-lg">Send Message</button>
		</form>
	  </div>
	</div>
  </div>

	
	
	
	
